@import url('https://fonts.googleapis.com/css2?family= Inter:wght@400;700 & display =swap');

:root{
    --branco-principal:#ffffff;
    --cor-de-fundo:#00030C;
    --cor-de-botao:#167BF7;
    --cinza-secundario:#c0c0c0;
    --botao-efeito:#3c92fa;
    --fonte-principal:'Inter'
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--cor-de-fundo);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.principal{
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--branco-principal);
    align-items: center;
    text-align: center ;

}
.botao_alura{
    background-color: var(--cor-de-botao);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;

}
.botao_assinar{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    color: var(--branco-principal);

}
.containerAviso{
    color: var(--cinza-secundario);
    font-size: 12px;
}
.container_img{
    margin: 1em 0 2em 0;
}
.container_caixa{
    margin: 0 6em;
}
.container_titulo{
    font-size: 28px;
    font-weight: 700px;
}
.secundario_imagem{
    width: 80%;
} 
.secundario{
    align-items: center;
    margin: 0 10em;
}
.descricao_titulo{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.1em;
}
.descricao_text{
    color: var(--cinza-secundario);
}
.secundario_botao{
    display: inline-block;
    margin-top: 1em;
}
.container_descricao{
    padding: 2em;
}
.dispositivos{
    color: var(--branco-principal);
    text-align: center;
}
.dispositivos_lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.dispositivos_titulos{
    font-size: 48px;

}
.lista_item{
    font-size: 32px;
}
.rodape{
    color: var(--branco-principal);
    text-align: center;
    
    
    
}
.rodape_lista{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 1em;
    list-style-type: none;
}

.lista_link a{
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 16px;
}
.rodape_text{
    font-size: 14px;
    color: var(--cinza-secundario);
    margin: 1em 0;
}
.lista_link a:hover{
    color: var(--cor-de-botao);
}
.botao_alura:hover{
    background-color: var(--botao-efeito);
    color: #00030C;
}